body
{
	background-color:gray;
}

.calculator
{

background-color:black;
position:fixed;
top:50%;
left:50%;
margin-top: -125px;
margin-left: -100px;
padding: 25px;

}

.keys
{
background-color:black;

}

h1
{

color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 80px 'ChunkFiveRegular';
}

h2
{
color: black; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }

.row1
{

font: 35px 'arial'
}

.row2
{
font: 35px 'arial';
position: relative;
left: 285px;
top: -460px;
}

.sex
{
font: 20px 'arial';
}


.links
{
font: 20px 'arial';
}

